@model PizzaByteSite.Models.LoginModel

@{
    ViewBag.Title = "Entrar";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Entrar</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Scripts/PizzaByteSite/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/PizzaByteSite/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/PizzaByteSite/css/AdminLTE.min.css">

</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EnderecoRetorno)

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-box-body">
                <center>
                    <img src="~/Content/PizzaByteSite/img/Logo.png" />
                    <h3>Informe seu e-mail e senha: </h3>
                </center>
                <br />
                <div class="form-group has-feedback">
                    @Html.EditorFor(m => m.EmailLogin, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(m => m.EmailLogin, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.SenhaLogin, new { @class = "form-control", @placeholder = "Senha" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="form-group ">
                    @Html.ValidationMessage("", "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                </div>
                <br />
                @* <a href="">Esqueci minha senha</a><br>*@
                @Html.ActionLink("Esqueci Minha senha", "RecuperarSenha")
            </div>
        </div>
        <script src="~/Scripts/PizzaByteSite/components/jquery/dist/jquery.min.js"></script>
        <script src="~/Scripts/PizzaByteSite/components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
}
</html>

<script>
    $(document).ready(function () {
        var retorno = '@TempData["Retorno"]';
        if (retorno == "SENHAALTERADA") {
            alert("Senha alterada com sucesso! Acesse seu e-mail para ver a nova senha.");
        }
    });
</script>