@model PizzaByteSite.Models.UsuarioModel

@{
    ViewBag.Title = "Editar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Usuários
            <small>Visualizar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Usuario/Inicio"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="~/Usuario/Index"><i class="fa fa-male"></i> Usuários</a></li>
            <li class="active"><i class="fa fa-eye"></i> Visualizar</li>
        </ol>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h2 class="box-title">Informações do usuário</h2>
                    </div>
                    <div class="box-body">
                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Administrador, new { @class = "control-label col-lg-2 col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12" style="margin-top: 5px" disabled>
                                    @Html.EditorFor(m => m.Administrador, new { @class = "form-control checkbox" })
                                    @Html.ValidationMessageFor(m => m.Administrador, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Nome, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                                    @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.Partial("_ConfirmarSenha", Model)

                            <div class="form-group">
                                @Html.LabelFor(m => m.DataInclusao, new { @class = "col-lg-4 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small" })
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small">
                                    @Html.HiddenFor(m => m.DataInclusao)
                                    @Html.DisplayFor(m => m.DataInclusao, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DataInclusao, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(m => m.DataAlteracao, new { @class = "col-lg-4 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small" })
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small">
                                    @Html.HiddenFor(m => m.DataAlteracao)
                                    @Html.DisplayFor(m => m.DataAlteracao, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DataAlteracao, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3">
                                    <a class="btn btn-default" href="~/Usuario/Index"><i class="fa fa-mail-reply"></i> Voltar</a>
                                    <a class="btn btn-primary" href="~/Usuario/Editar/@Model.Id"><i class="fa fa-pencil"></i> Editar</a>
                                    <a class="btn btn-danger" href="~/Usuario/Excluir/@Model.Id?@(Model.Nome + " (" + Model.Email + ")")"><i class="fa fa-trash"></i> Excluir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
