@model PizzaByteSite.Models.ProdutoModel

@{
    ViewBag.Title = "Incluir Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Produto
            <small>Incluir</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="~/Produto/Index"><i class="fa fa-tags"></i> Produtos</a></li>
            <li class="active"><i class="fa fa-plus"></i> Incluir</li>
        </ol>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">

                    <div class="box-header with-border">
                        <h2 class="box-title">Informações do novo produto</h2>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Descricao, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-8 col-md-10 col-sm-9 col-xs-12">
                                        @Html.EditorFor(m => m.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Preco, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(m => m.Preco, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(m => m.Preco, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(m => m.Tipo, new { @class = "control-label col-lg-2 col-md-2 col-sm-1 col-xs-12" })
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                                        @Html.DropDownListFor(m => m.Tipo, Model.ListaTipos, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3">
                                        <a class="btn btn-default" href="~/Produto/Index"><i class="fa fa-mail-reply"></i> Cancelar</a>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Gravar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/PizzaByteSite/plugins/mask/jquery.maskMoney.min.js"></script>

<script>
    $(document).ready(function () {

        $("#Preco").maskMoney({ allowNegative: false, decimal: ",", thousands: "" });

    });
</script>

