@model PizzaByteSite.Models.FiltrosFornecedorModel

@{
    ViewBag.Title = "Fornecedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="form-horizontal">
        <div class="content-header">
            <h1>
                Fornecedores
                <small>Listagem</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="~/Usuario/Inicio"><i class="fa fa-home"></i> Inicio</a></li>
                <li><a class="active"><i class="fa fa-truck"></i> Fornecedores</a></li>
            </ol>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Pesquisa de fornecedores</h3>
                        </div>

                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NomeFantasia, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                <div class="col-lg-9 col-md-10 col-sm-9 col-xs-12">
                                    @Html.EditorFor(m => m.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.RazaoSocial, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                <div class="col-lg-9 col-md-10 col-sm-9 col-xs-12">
                                    @Html.EditorFor(m => m.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Cnpj, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                <div class="col-lg-4 col-md-4 col-sm-9 col-xs-12">
                                    @Html.EditorFor(m => m.Cnpj, new { htmlAttributes = new { @class = "form-control" } })
                                </div>

                                @Html.LabelFor(m => m.ObterInativos, new { @class = "control-label col-lg-1 col-md-2 col-sm-3 col-xs-12" })
                                <div class="col-lg-4 col-md-4 col-sm-9 col-xs-12">
                                    @Html.DropDownListFor(m => m.ObterInativos, Model.ListaInativo, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-lg-10 col-md-10 col-sm-9 col-xs-12">
                                    <button class="btn btn-primary" id="btnBuscarFornecedores"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>

                        <div class="overlay" id="divCarregando">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <h3 class="box-title">Lista de fornecedores cadastrados</h3>
                                </div>
                                <div class="col-md-6 alinhadoDireita">
                                    <a class="btn btn-primary" href="Incluir"><i class="fa fa-plus"></i> Novo fornecedor</a>
                                </div>
                            </div>
                        </div>

                        <div class="box-body table-responsive">
                            <table class="table table-hover" id="tblResultados">
                                <thead>
                                    <tr>
                                        <th>Nome fantasia</th>
                                        <th>Razão social</th>
                                        <th>CNPJ</th>
                                        <th>Inativo</th>
                                        <th>Opções</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="box-footer clearfix" id="divPaginas">
                            @*Paginação da pesquisa*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/PizzaByteSite/plugins/jQueryUI/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/PizzaByteSite/plugins/jQueryUI/toastr.min.js"></script>
<script src="~/Scripts/PizzaByteSite/Telas/Geral.js"></script>
<script src="~/Scripts/PizzaByteSite/plugins/mask/jquery.mask.min.js"></script>
<script src="~/Scripts/PizzaByteSite/Telas/IndexFornecedor.js"></script>
<script src="~/Scripts/PizzaByteSite/plugins/mask/jquery.mask.min.js"></script>

<script>
    $(document).ready(function () {
        $("#Cnpj").mask("99.999.999/9999-99", { placeholder: "__.___.___/____-__" });

        var retorno = '@TempData["Retorno"]';
        MostrarMensagemRetorno(retorno, "O fornecedor");
        BuscarFornecedores(1);

        $("#Cnpj").mask("99.999.999/9999-99", { placeholder: "__.___.___/____-__" });

        $("#btnBuscarFornecedores").click(function () {
            BuscarFornecedores(1);
        });

     $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                $("#btnBuscarFornecedores").click();
            }
        });
    });
</script>
