@model PizzaByteSite.Models.ContaReceberModel

@{
    ViewBag.Title = "Incluir Contas a receber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Contas a receber
            <small>Incluir</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Usuario/Inicio"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="~/ContaReceber/Index"><i class="fa fa-tags"></i> Contas a receber</a></li>
            <li class="active"><i class="fa fa-plus"></i> Incluir</li>
        </ol>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">

                    <div class="box-header with-border">
                        <h2 class="box-title">Informações da nova conta</h2>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Descricao, new { @class = "control-label col-lg-2 col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
                                        @Html.EditorFor(m => m.Descricao, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.DataCompetencia, new { @class = "control-label col-lg-2 col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(m => m.DataCompetencia, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.DataCompetencia, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(m => m.DataVencimento, new { @class = "control-label col-lg-2 col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(m => m.DataVencimento, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.DataVencimento, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Valor, new { @class = "control-label col-lg-2 col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        @Html.EditorFor(m => m.Valor, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.Valor, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(m => m.Status, new { @class = "control-label col-lg-2 col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        @Html.DropDownListFor(m => m.Status, Model.ListaStatus, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3">
                                        <a class="btn btn-default" href="~/ContaReceber/Index"><i class="fa fa-mail-reply"></i> Cancelar</a>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Gravar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/PizzaByteSite/plugins/mask/jquery.maskMoney.min.js"></script>
<script src="~/Scripts/PizzaByteSite/plugins/mask/jquery.mask.min.js"></script>

<script>
    $(document).ready(function () {
        $("#Valor").maskMoney({ allowNegative: false, decimal: ",", thousands: "" });
        $("#DataCompetencia").mask("99/99/9999", { placeholder: "__ /__ /____" });
        $("#DataVencimento").mask("99/99/9999", { placeholder: "__ /__ /____" });
    });
</script>

