@model PizzaByteSite.Models.ClienteModel

@{
    ViewBag.Title = "Editar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Cliente
            <small>Editar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Usuario/Inicio"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="~/Cliente/Index"><i class="fa fa-users"></i> Clientes</a></li>
            <li class="active"><i class="fa fa-pencil"></i> Editar</li>
        </ol>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h2 class="box-title">Editar informações do cliente</h2>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="box-body">
                            <div class="form-horizontal">

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.Id)

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Inativo, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-3" })
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12" style="margin-top: 5px">
                                        @Html.EditorFor(m => m.Inativo, new { @class = "form-control checkbox" })
                                        @Html.ValidationMessageFor(m => m.Inativo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Nome, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-9 col-md-10 col-sm-9 col-xs-12">
                                        @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Telefone, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                        @Html.EditorFor(m => m.Telefone, new { htmlAttributes = new { @class = "form-control Telefone", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(m => m.Cpf, new { @class = "control-label col-lg-1 col-md-1 col-sm-3 col-xs-12" })
                                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                        @Html.EditorFor(m => m.Cpf, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(m => m.Cpf, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.DataInclusao, new { @class = "col-lg-4 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small" })
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small">
                                        @Html.HiddenFor(m => m.DataInclusao)
                                        @Html.DisplayFor(m => m.DataInclusao, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DataInclusao, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(m => m.DataAlteracao, new { @class = "col-lg-4 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small" })
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small">
                                        @Html.HiddenFor(m => m.DataAlteracao)
                                        @Html.DisplayFor(m => m.DataAlteracao, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DataAlteracao, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3">
                                        <a class="btn btn-default" href="~/Cliente/Index"><i class="fa fa-mail-reply"></i> Cancelar</a>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Gravar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/PizzaByteSite/plugins/mask/jquery.mask.min.js"></script>
<script src="~/Scripts/PizzaByteSite/Telas/Geral.js"></script>

<script>
    $(document).ready(function () {

        $("#Cpf").mask("999.999.999-99");
        $("#Telefone").mask("(99) 9999-99999", { placeholder: "(__) _____-____" });

    });
</script>