@model PizzaByteSite.Models.ClienteModel

@{
    ViewBag.Title = "Visualizar cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Clientes
            <small>Visualizar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Usuario/Inicio"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="~/Cliente/Index"><i class="fa fa-users"></i> Clientes</a></li>
            <li class="active"><i class="fa fa-eye"></i> Visualizar</li>
        </ol>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tabDados" data-toggle="tab">Dados</a></li>
                        <li><a href="#tabEndereco" data-toggle="tab" id="Enderecos">Endereços</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabDados">

                            <h2 class="h3">Informações do cliente</h2>

                            <div class="box-body">
                                <div class="form-horizontal">
                                    @Html.HiddenFor(p => p.Id)

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Nome, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                        <div class="col-lg-9 col-md-10 col-sm-9 col-xs-12">
                                            @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Telefone, new { @class = "control-label col-lg-2 col-md-2 col-sm-3 col-xs-12" })
                                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                            @Html.EditorFor(m => m.Telefone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(m => m.Cpf, new { @class = "control-label col-lg-1 col-md-1 col-sm-3 col-xs-12" })
                                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                            @Html.EditorFor(m => m.Cpf, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(m => m.Cpf, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DataInclusao, new { @class = "col-lg-4 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small" })
                                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small">
                                            @Html.HiddenFor(m => m.DataInclusao)
                                            @Html.DisplayFor(m => m.DataInclusao, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.DataInclusao, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(m => m.DataAlteracao, new { @class = "col-lg-4 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small" })
                                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 alinhadoDireita small">
                                            @Html.HiddenFor(m => m.DataAlteracao)
                                            @Html.DisplayFor(m => m.DataAlteracao, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.DataAlteracao, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="box-footer">
                                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3">
                                            <a class="btn btn-default" href="~/Cliente/Index"><i class="fa fa-mail-reply"></i> Voltar</a>
                                            <a class="btn btn-primary" href="~/Cliente/Editar/@Model.Id"><i class="fa fa-pencil"></i> Editar</a>
                                            <a class="btn btn-danger" href="~/Cliente/Excluir/@Model.Id?Descricao=@(Model.Nome)"><i class="fa fa-trash"></i> Excluir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tabEndereco">
                            @Html.Partial("_ListaEnderecos", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/PizzaByteSite/plugins/jQueryUI/toastr.min.js"></script>
<script src="~/Scripts/PizzaByteSite/Telas/Geral.js"></script>
<script src="~/Scripts/PizzaByteSite/Telas/VisualizarCliente.js"></script>

<script>
    $(".form-control").attr("readonly", "readonly");
    $("#Telefone").val(FormatarTelefone($("#Telefone").val()));
    $("#Cpf").val(FormatarCpf($("#Cpf").val()));

    $("#Enderecos").click(function () {
        var linha = document.getElementById("tblEnderecos").rows.length;
        if (linha <= 1) {
            BuscarEnderecos($("#Id").val(), 1);
        }
    });

    var retorno = '@TempData["Retorno"]';
    MostrarMensagemRetorno(retorno, "O endereço");

    if (retorno !== "" && retorno !== null && retorno !== "VISUALIZANDO") {
        $("#Enderecos").click();
    }
</script>
